<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/8c7244b5-b155-41d5-84c4-695b5e09f6ce/resourcegroups/grupo.funcionario/providers/Microsoft.ContainerRegistry/registries/AppAzure20230710194451</ContainerResourceId>
    <ContainerResourceName>AppAzure20230710194451</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>appazure20230710194451.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ContainerName>appazure</ContainerName>
    <EnvironmentName>AppAzure-env-20230710193757</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://appazure-app-20230710193754.ashytree-a1f7910c.brazilsouth.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/8c7244b5-b155-41d5-84c4-695b5e09f6ce/resourceGroups/grupo.funcionario/providers/Microsoft.App/containerapps/appazure-app-20230710193754</ResourceId>
    <ResourceGroup>grupo.funcionario</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net7.0</TargetFramework>
    <ProjectGuid>12ad2cb6-3e6b-45a3-9094-f2f7f262a2c0</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>